/* CSS for skin PASTEL */
/* Shipped with LemonLDAP::NG */

body {
font-family:Arial, Helvetica, Verdana;
font-size:11pt;
color:#000;
background:#eee url(hatch.gif);
margin:0;
padding:0;
}

h1, h2, h3, h4 {
margin:0;
padding:0 0 5px 0;
}

h3 {
margin:20px;
}

a img,:link img,:visited img {
border:none
}

a, a:link, a:visited {
text-decoration:none;
color:#336699;
}

#page {
margin:20px 40px;
padding:0;
background:#fff;
border:1px solid #C6D880;
text-align:center;
}

#footer {
clear:both;
padding:5px;
margin:0;
text-align:center;
font-size:10pt;
}

div.loginlogo {
background:url(lock.png) no-repeat center;
width:200px;
height:250px;
float:left;
}

div.menulogo {
display:none;
}

div.user {
float:right;
text-align:right;
color:#529214;
font-size:10pt;
font-weight:bold;
margin:13px 5px 0 0;
}

div.message {
background-color:#f5f5f5;
border:1px solid #dedede;
border-top:1px solid #eee;
border-left:1px solid #eee;
margin:20px 50px;
padding:0;
display:none;
text-align:left;
}

ul {
list-style:none;
margin:0;
padding:5px;
}

li {
list-style:none;
}

div.message li {
font-size:11pt;
font-weight:bold;
list-style-type:none;
background-repeat:no-repeat;
background-position:0% 60%;
padding:3px 0 3px 30px;
}

.message.negative li {
background-image:url("../common/warning.png");
}

.message.positive li {
background-image:url("../common/ok.png");
}

.message.warning li {
background-image:url("../common/warning_triangle.png");
}

form {
display:block;
overflow:visible;
padding:0;
margin:10px;
text-align:center;
background-color:#dff4ff;
border:1px solid #c2e1ef;
color:#336699;
}

form.login, form.password {
margin:40px 200px;
}

form table {
border:0;
margin:0 auto;
}

form th {
text-align: right;
}

form input {
border:1px solid #c2e1ef;
padding:5px;
width: 200px;
}

form input[name=user] {
background:#FFFFFF url("../common/user_suit.png") 5px 5px no-repeat;
padding-left:25px;
}

form input[type=password] {
background:#FFFFFF url("../common/key.png") 5px 5px no-repeat;
padding-left: 25px;
}

form input[name=mail] {
background:#FFFFFF url("../common/email.png") 5px 5px no-repeat;
padding-left: 25px;
}

/* BUTTONS */
/* See http://particletree.com/features/rediscovering-the-button-element/ */

.buttons {
margin:0;
}

form .buttons {
margin:10px 0 0 0;
}

.buttons a, .buttons button {
display:block;
float:right;
margin:0 0 0 7px;
background-color:#f5f5f5;
border:1px solid #dedede;
border-top:1px solid #eee;
border-left:1px solid #eee;
text-decoration:none;
font-weight:bold;
color:#565656;
cursor:pointer;
padding:5px 10px 6px 7px; /* Links */
}

.buttons button {
width:auto;
overflow:visible;
padding:4px 10px 3px 7px; /* IE6 */
}

.buttons button[type]{
padding:5px 10px 5px 7px; /* Firefox */
line-height:17px; /* Safari */
}

*:first-child+html button[type]{
padding:4px 10px 3px 7px; /* IE7 */
}

.buttons button img, .buttons a img{
margin:0 3px -3px 0 !important;
padding:0;
border:none;
width:16px;
height:16px;
}

/* STANDARD */

button:hover, .buttons a:hover, .message{
background-color:#dff4ff;
border:1px solid #c2e1ef;
color:#336699;
}

.buttons a:active{
background-color:#6299c5;
border:1px solid #6299c5;
color:#fff;
}

/* POSITIVE */
button.positive, .buttons a.positive{
color:#529214;
}

.buttons a.positive:hover, button.positive:hover, div.positive{
background-color:#E6EFC2;
border:1px solid #C6D880;
color:#529214;
}

.buttons a.positive:active{
background-color:#529214;
border:1px solid #529214;
color:#fff;
}

/* NEGATIVE */
.buttons a.negative, button.negative{
color:#d12f19;
}

.buttons a.negative:hover, button.negative:hover, div.negative{
background:#fbe3e4;
border:1px solid #fbc2c4;
color:#d12f19;
}

.buttons a.negative:active{
background-color:#d12f19;
border:1px solid #d12f19;
color:#fff;
}

/* WARNING */
div.warning{
background-color:#ffe17a; 
border:1px solid #ffca10;
color:#a03400;
}

/* Application list (JQuery tabs) */

.ui-tabs-hide {
display:none;
}

.ui-tabs-nav {
text-align:left;
margin:0;
padding:10px 5px;
background-color:#C6D880;
}

.ui-tabs-nav li{
display:inline;
margin-left:10px;
padding:9px 10px 6px 10px;
font-size:10pt;
}

.ui-tabs-nav li a{
color:#529214;
font-weight:bold;
}

li.ui-tabs-selected{
background-color:#E6EFC2;
}

#appslist{
padding: 10px;
}

ul.cat-level-0 {
float:left;
width:200px;
background-color:#dff4ff;
border:1px solid #c2e1ef;
}

ul.category {
text-align:center;
}

ul.category li.catname span {
display:block;
color:#336699;
font-weight:bold;
border-bottom:1px solid #c2e1ef;
}

ul.category li.appname {
text-align:left;
margin:2px 0;
background-color:#fff;
list-style-type:none;
background-repeat:no-repeat;
background-position:0% 50%;
padding:2px 5px 2px 20px;
background-image:url("../common/bullet_go.png");
}

ul.category li.appname span {
color:#336699;
font-size:10pt;
border:0;
}

div.appsdesc {
display:none;
overflow:hidden;
margin:30px 50px 30px 230px;
padding:10px;
background-color:#dff4ff;
border:1px solid #c2e1ef;
}

html>body div.appsdesc {
position:fixed;
}

div.appsdesc img {
float:right;
}

div.appsdesc p.appname{
font-size:16pt;
font-variant:small-caps;
}

div.appsdesc p.appdesc{
font-style:italic;
}

/* Logout */

#logout .buttons a, #logout .buttons button, #error .buttons a, #error .buttons button{
display:block;
display:inline !important;
float:none;
margin:0;
width:150px;
}
#logout {
margin-bottom:20px;
}
