/* CSS for Identity Provider */
/* Main color : green #8cd749 */

@import url(default.css);

h1, h2, h3, #main-menu h3, h4, h5, h6, .ui-tabs-nav li.ui-tabs-selected a, #main-menu li.active a { color : #8cd749; border-color: #8cd749; }

#page, #login { border-color : #8cd749; }

#footer { border-color : #8cd749; background: url(bouton_authentic.png) no-repeat center bottom; }

hr, pre, code, th, td, fieldset, legend { border-color : #8cd749; }

