/* CSS for LAAP */
/* Main color : clear blue #6699ff */

@import url(default.css);

h1, h2, h3, h4, h5, h6 { color : #6699ff; }

#page { border-color : #6699ff; }

#footer { border-top : #6699ff; }

.message { border-color : #6699ff; }

hr, pre, code, th, td, fieldset, legend { border-color : #6699ff; }

