/* CSS for SSO */
/* Main color : orange #d9b500 */

@import url(default.css);

h1, h2, h3, #main-menu h3, h4, h5, h6, .ui-tabs-nav li.ui-tabs-selected a, #main-menu li.active a { color : #d9b500; border-color : #d9b500; }

#page { border-color : #d9b500; }

#footer { border-color : #d9b500; background: url(bouton_lemonldap::ng.png) no-repeat center bottom; }

hr, pre, code, th, td, fieldset, legend { border-color : #d9b500; }

